<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
<ListView [items]="tasks" height="200" margin="15">
  <ng-template let-item="item">
    <item [task]="item"></item>
  </ng-template>
</ListView>