<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
<li [class.completed]="todo.completado" [class.editing]="editando">
  <div class="view">
    <input class="toggle" [formControl]="chkCompletado" type="checkbox"/>
    <label (dblclick)="editar()">{{todo.texto}}</label>
    <button class="destroy" (click)="borrar()"></button>
  </div>
  <input class="edit" type="text" [formControl]="txtInput" #inputFisico (blur)="terminarEdicion()"/>
</li>
