<h1>Contador</h1>
<h2>{{ contador }}</h2>

<div class="row text-center">
  <div class="col">
    <button (click)="multiplicar()" class="btn btn-primary">Multiplicar</button>
    <button (click)="dividir()" class="btn btn-info">Dividir</button>
  </div>
</div>

<hr />

<div class="row text-center">
  <div class="col">
    <app-nieto></app-nieto>
  </div>
</div>
