<StackLayout>
  <Label class="h1" text="Tareas" margin="20" textAlignment="center"></Label>
  <FlexboxLayout margin="10">
    <TextField hint="¿Que quieres Hacer?" width="60%" [formControl]="task" [text]="task" (returnPress)="agregar()"></TextField>
    <Button width="25%" backgroundColor="#3b6afe" text="Agregar" (tap)="agregar()" fontWeight="bold" color="#fff"></Button>
  </FlexboxLayout>
</StackLayout>