<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
<!--<li [class.completed]="todo.completado" [class.editing]="editando">
  <div class="view">
    <input class="toggle" [formControl]="chkCompletado" type="checkbox"/>
    <label (dblclick)="editar()">{{todo.texto}}</label>
    <button class="destroy" (click)="borrar()"></button>
  </div>
  <input class="edit" type="text" [formControl]="txtInput" #inputFisico (blur)="terminarEdicion()"/>
</li>-->

<WrapLayout [hidden]="editando">
  <Image
    [hidden]="!task.completado"
    src="res://checkbox"
    width="20"
    (tap)="toogle()"
  ></Image>
  <Image
    [hidden]="task.completado"
    src="res://uncheckbox"
    width="20"
    (tap)="toogle()"
  ></Image>
  <!-- <Switch [checked]="task.completado" [formControl]="chkCompletado"></Switch>-->
  <Label
    [text]="task.texto"
    (doubleTap)="editar()"
    width="60%"
    margin="10"
    text
  ></Label>
  <Image src="res://trash" width="25" (tap)="borrar()"></Image>
</WrapLayout>

<TextField
  [hidden]="!editando"
  [formControl]="txtInput"
  #inputFisico
  (blur)="terminarEdicion()"
></TextField>
