WrapLayout{
   
    border-style: solid;
    border-radius: 12.5;
    border-width: 1;
    border-color:#f4f4f4 ;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    
}

Image{
    margin: 0 10 0 15;    
}
Label{
    color:#a4a4a4;
    font-weight:bold;    
}